<div class="panel cutout">
  <h1>Paper Issues</h1>
  <h2>Printable versions of your GitHub Issues to cut out and keep!</h2>

  <p>To get started, enter the path to your repo below:</p>

  <%= erb :repo_form %>
</div>

<div class="relocator-overlay"></div>

<a href="https://github.com/withassociates/paper_issues"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
