<div class="panel">
  <h1>Paper Issues</h1>
  <h2>Printable versions of your GitHub Issues to cut out and keep!</h2>

  <p>To get started, enter the path to your repo below:</p>

  <%= erb :repo_form %>
</div>

<div class="relocator-overlay"></div>
