<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper Issues</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/js/paper-issues.js"></script>
    <link rel="stylesheet" href="/css/paper-issues.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
