<div class="panel cutout">
  <h1>Uh oh!</h1>
  <h2>We couldn’t find that repo…</h2>

  <p>If it’s a private repo, you’ll need to authenticate:</p>

  <p><a href="/auth/github">Authenticate with GitHub</a></p>

  <p>Or try another:</p>

  <%= erb :repo_form %>
</div>
