<form action="/redirect" method="get" data-role="relocator" class="relocator">
  <input
    type="text"
    name="path"
    size="50"
    placeholder="e.g. withassociates/paper_issues">

  <button type="submit">Go</button>
</form>
